extends layout

block content
  form(method='post')
    .form-item
      label(for='name') Name:
      input#name(type='text', name='name', value=name, required)
    .form-item
      label(for='shortname') Short Name:
      input#shortname(type='text', name='shortname', value=shortname, required)
    .form-item
      label(for='server') Server:
      select#server(name='server', required)
        if servers
          each _server in servers
            if _server.id == server
              option(value=_server.id, selected)= _server.name
            else
              option(value=_server.id)= _server.name
    .form-item
      input#submit(type='submit', value='Create')
