extends layout

block content
  table
    tr
      td Name:
      td= country.name
    tr
      td Short Name:
      td= country.shortname
    tr
      td Server:
      td= country.server.name

  h2 Organizations
  ul
    each organization in country.organizations
      li: a(href='/organization/' + organization.id)= organization.username
    else
      li No organizations found.

  h2 Actions
  ul
    li: a(href='/country/' + country.id + '/access') View access list
    li: a(href='/country/' + country.id + '/channel') View channels list
