extends layout

block content
  form(method='post')
    .form-item
      label(for='username') Username:
      input#username(type='text', name='username', value=username, required)
    .form-item
      label(for='accessLevel') Access Level:
      select#accessLevel(name='accessLevel' required)
        option(value=1, selected=accessLevel==1) Intern
        option(value=2, selected=accessLevel==2) Officer
        option(value=3, selected=accessLevel==3) Administrator
    .form-item
      input#submit(type='submit', value='Create')
