extends layout

block content
  p Welcome to #{title}
    if !user
      ul
        li
          a(href='/user/new') Create an account
        li
          a(href='/user/signin') Sign in
        li
          a(href='/user/recover') Recover account
    else
      if user.confirmCode
        div.info
          | Your account is not yet confirmed. Click
          a(href='/user/confirm') here
          | to resend the confirmation email.

      ul
        li
          a(href='/user/signout') Sign out

      if !user.confirmCode
        if countries.length
          h2 Countries with Access
          ul
            each country in countries
              li
                a(href='/country/' + country.id) #{country.name} (#{country.server.name})
