extends layout

block content
  if !user && error
    p Failed to recover your account. The recovery code seems invalid.
  else
    form(method='post')
      div.form-item
        label(for='password') Password:
        input#password(type='password', name='password', required)
      div.form-item
        input#submit(type='submit', value='Recover')
