extends layout

block content
  if !error && sent
    p The recovery e-mail has been sent to your email address.
  else
    form(method='post')
      .form-item
        label(for='email') E-mail:
        input#email(type='email', name='email', value=email, required)
      .form-item
        input#submit(type='submit', value='Recover')
