extends layout

block content

  p.
    Please confirm your account by following the link in an email sent to your
    email address.

  p.
    It may take some minutes for the confirmation email to arrive. If you did
    not receive the confirmation email, login to resend it. If it still did not
    come after an hour, ask the website administrator for help.
