extends layout

block content

  p.
    Please confirm your account by following the link in an e-mail sent to your
    e-mail address.

  p.
    It may take some minutes for the confirmation e-mail to arrive. If you did
    not receive the confirmation e-mail, login to resend it. If it still did not
    come after an hour, ask the website administrator for help.
